body {
  background-color: lightblue;
  font-family: Arial, sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

#titulo {
  color: brown;
  font-size: 55px;
  text-align: center;
}

h3 {
  text-align: center;
}

textarea[type="text"] {
  width: 65%;
  padding: 30px;
  margin: 20px 0 20px 0;
  border: none;
  background-color: #bd81c580;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: #da38bf8e;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#mensajesAplicacion {
  text-align: center;
  color: rgb(177, 3, 3);
}
